* {
    margin: 0;
    padding: 0;
}
body {
    width: 600px;
    margin: 0 auto;
    background: #ffb5bc;
}
#top {
    width: 800px;
    height: 80px;
    text-align: center;
}
#top h1 {
    font-family: Arial;
    font-size: 40px;
    float: left;
    line-height: 80px;
}
#top audio {
    width: 45px;
    margin-top: 30px;
    margin-left: 20px;
    float: left;
}
#introduce{
    margin-top: 30px;
}
#introduce address {
    font-size: 30px;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
#introduce a:hover, a:active {
    color: #9d9768;
}
#introduce img {
    width: 200px;
    height: 200px;
    margin: 30px;
}
#projects{
    margin-top: 20px;
}
#projects h1 {
    font-size: 50px;
}
#projects img {
    width: 40px;
    height: 40px;
    background: #ffb5bc;
}
#projects a:link, a:visited {
    font-size: 50px;
    color: #8d6ad5;
}
#projects a:hover, a:active {
    font-size: 60px;
    font-weight: bolder;
    color: #9d9768;
}