.mainnav .container .leftnavlist{
  display: none;
}
.main{
  margin-bottom: 30px;
}
.main .left{
  padding-right: 0;
}
.main .left p{
  font-family: "Microsoft YaHei";
  border-bottom: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}
.main .left .header3{
  font-size: 20px;
  color: #007cd2;
  height: 60px;
  line-height: 60px;
}
.main .left p a{
  text-decoration: none;
  padding-left: 10px;
  margin-left: 5px;
  border-left: 5px solid #fff;
  color: #000;
}
.main .left p a:hover,a:active{
  color: #ff9000;
  border-left-color: #ff9000;
}
.main .left .on{
  color: #ff9000;
  border-left-color: #ff9000;
}
.main .right{
  border-left: 1px solid #ccc;
  font-family: "Microsoft YaHei";
}
.main .right ul{
  margin-bottom: 30px;
}
.nav-tabs{
  border-bottom: 1px solid #0067c4;
}
.main .right ul li a{
  color: #000;
}
.main .right .active>a, .main .right .active>a:focus, .main .right .active>a:hover{
  color: #0067c4;
  border: 2px solid #0067c4;
  border-bottom: hidden;
}
.main .right .header3{
  font-size: 30px;
}
.main .right p{
  line-height: 2em;
}
#solve ul{
  padding-left: 0;
}
#solve p{
  font-size: 13px;
  padding-left: 4%;
}
.table th,td{
  border: 1px solid #ccc;
  font-size: 13px;
}
.table tbody tr th,.table tbody tr td{
  text-align: center;
  vertical-align: middle;
}
.table tr td a{
  text-decoration:none;
  display:block;
  color:#fff;
  background-color: #0067c4;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}
.table tr td a:hover,a:active{
  background-color: #f4b026;
}
